/* ===================== */
/* Quiz */
/* ===================== */

.cafe-quiz {
  counter-reset: item-counter section-counter;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  padding: 1em;
  padding-bottom: 2em;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
}

.cafe-quiz :is(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) {
  margin: 0;
}

.special-footer {
  display: none;
}

@media print {
  .cafe-quiz {
    margin: 1em;
    font-size: 16px;
  }
  .special-footer {
    display: block;
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
  }
}

/* 
=================
Header styling
=================
*/

.cafe-quiz .cafe-header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.cafe-quiz .cafe-header h1 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.cafe-quiz .cafe-header :is(h2, h3) {
  font-size: 1.3em;
}

.cafe-quiz .cafe-header h2 {
  text-align: center;
}

.cafe-quiz .cafe-header p:has(+ :not(p)),
.cafe-quiz .cafe-header :is(h1, h2, h3, h4):has(+ :not(:is(h1, h2, h3, h4))) {
  margin-bottom: 1em;
}

/* ===================== */
/* Section styling */
/* ===================== */

.cafe-quiz .cafe-assessment-section {
  position: relative;
  margin-bottom: 2em;
}

.cafe-quiz .cafe-assessment-section .cafe-section-heading {
  position: relative;
  font-size: 1.1em;
  margin-left: 0em;
  padding-left: 0.2em;
  margin-bottom: 1em;
  counter-increment: section-counter;
  counter-set: item-counter 0;
}

.cafe-quiz .cafe-assessment-section .cafe-section-heading::before {
  position: absolute;
  font-weight: bold;
  content: counter(section-counter, upper-roman) ". ";
  transform: translateX(-100%);
  left: 0em;
}

/* ===================== */
/* General styling of items */
/* ===================== */

.cafe-quiz .cafe-assessment-item {
  position: relative;
  counter-increment: item-counter;
  break-inside: avoid;
  font-size: 1em;
  margin-bottom: 2em;
  margin-left: 0;
}

.cafe-quiz .cafe-assessment-item::before {
  position: absolute;
  content: counter(item-counter) ". ";
  left: 1em;
}

.cafe-quiz .cafe-assessment-item > h3[class^="cafe-question-heading-"] {
  margin-left: 2em;
  margin-bottom: 2em;
  font-weight: normal;
}

/* choices */

.cafe-quiz .cafe-assessment-item ol {
  list-style: none;
  counter-reset: choice-counter;
}
.cafe-quiz .cafe-assessment-item ol li {
  counter-increment: choice-counter;
  display: list-item;
  position: relative;
  margin-left: 1.5em;
  margin-bottom: 0.3em;
}

@media print {
  .cafe-quiz .cafe-assessment-item ol li {
    margin-left: 0em;
  }
}

.cafe-quiz .cafe-assessment-item ol li::before {
  content: counter(choice-counter, lower-alpha) ")";
  position: absolute;
  left: -1.4em;
}

/* Answer boxes */

.cafe-quiz .cafe-assessment-item .cafe-answerbox {
  --color: #ccc;
  height: 5em;
  width: 90%;
  border: 1px solid var(--color);
  border-radius: 10px;
  margin: auto;
}
.cafe-quiz
  .cafe-assessment-item
  .cafe-question-heading-CR-long
  ~ .cafe-answerbox {
  height: 30em;
}

/* Images */

.cafe-quiz .cafe-assessment-item > p > img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* 
=====================
Math Katex styling
=====================
*/

.cafe-quiz .katex-display {
  font-size: 1.2em;
}

.cafe-quiz p:has(> .katex:only-child) {
  text-align: center;
  font-size: 1.2em;
}

.cafe-quiz li :is(.katex-display, .katex, p) {
  display: inline;
  text-align: start;
  width: auto;
}

/* 
=====================
Blockquote styling
=====================
*/

.cafe-quiz blockquote {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  font-size: 1em;
  margin: auto;
  padding: 1em;
  border: 1px solid black;
  margin-bottom: 2em;
}

.cafe-quiz blockquote p {
  margin-bottom: 0.5em;
}
.cafe-quiz blockquote :is(h1, h2, h3, h4, h5, h6) {
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 0.5em;
}

/* Tables styling */

.cafe-quiz table {
  width: auto;
  max-width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
  text-align: left;
}

.cafe-quiz th,
.cafe-quiz td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.cafe-quiz th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* ========================== */
/* Hidden */
/* ========================== */

.cafe-hidden-element {
  display: none;
  visibility: hidden;
}

/* ========================== */
/* Utils styling */
/* ========================== */

/* font size */

.cafe-quiz .text-xs {
  font-size: 0.7em;
  line-height: 1em;
}
.cafe-quiz .text-sm {
  font-size: 0.85em;
  line-height: 1.25em;
}
.cafe-quiz .text-base {
  font-size: 1em;
  line-height: 1.5em;
}
.cafe-quiz .text-lg {
  font-size: 1.15em;
  line-height: 1.75em;
}
.cafe-quiz .text-xl {
  font-size: 1.3em;
  line-height: 1.75em;
}

/* grid placement */

ul[class^="col-"] {
  list-style: none;
  display: grid;
  margin: 0 3em;
  margin-left: 2em;
  gap: 1em;
}

ul.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
ul.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
ul.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
ul.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/* images */

.cafe-quiz img.w-1\/2 {
  width: 50%;
}

.cafe-quiz img.w-1\/3 {
  width: 33%;
}
.cafe-quiz img.w-2\/3 {
  width: 66%;
}

.cafe-quiz img.w-1\/4 {
  width: 25%;
}

.cafe-quiz img.w-3\/4 {
  width: 75%;
}
