/* ===================== */
/* Quiz */
/* ===================== */

.quiz-container {
  position: relative;
  counter-reset: item-counter;
  font-size: 16px;
}

.quiz-container .cafe-assessment-section {
  margin: inherit;
}

@media print {
  .quiz-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Header */
.quiz-container > :first-child {
  margin-top: 20px;
}

.quiz-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.quiz-container :is(h2, h3) {
  text-align: left;
  margin-bottom: 0.2em;
  font-size: 1em;
}

.quiz-container .math-display {
  font-size: 1.5em;
}

/* ===================== */

.quiz-container .cafe-assessment-item:first-of-type {
  margin-top: 2em;
}

.quiz-container .cafe-assessment-item {
  position: relative;
  counter-increment: item-counter;
  break-inside: avoid;
  font-size: 1em;
  margin-bottom: 2em;
}

.quiz-container .cafe-assessment-item::before {
  position: absolute;
  content: counter(item-counter) ". ";
  left: 20px;
}

.quiz-container .cafe-assessment-item > h3 {
  margin-left: 40px;
  margin-bottom: 10px;
  font-weight: normal;
}

.quiz-container .cafe-assessment-item > p > img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.quiz-container blockquote {
  display: flex;
  width: 90%;
  align-items: center;
  font-size: 1em;
  margin: auto;
  padding: 1em;
  border: 1px solid black;
  margin-bottom: 2em;
}

/* Tables styling */

.quiz-container table {
  width: auto;
  max-width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
  text-align: left;
}

.quiz-container th,
.quiz-container td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.quiz-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Specific items styling */

.quiz-container .cafe-assessment-item ol {
  margin-left: 20px;
}
.quiz-container .cafe-assessment-item ol li {
  list-style-type: lower-alpha;
}

.quiz-container .cafe-assessment-item.SA::after {
  content: "";
  height: 4em;
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Answer boxes */

.quiz-container .cafe-assessment-item .answer-box {
  height: 5rem;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: auto;
}

.quiz-container .cafe-assessment-item .answer-box.long-answer {
  height: 30rem;
}
